<ion-view view-title="Chat">
  <ion-content has-bouncing="true" class="content">
    <div>
      <ul>
        <li ng-repeat="message in messages" >
          <div class="card">
            <div class="item item-text-wrap">
              {{message.sender}} : {{message.content}}
            </div>
          </div>
        </li>
      </ul>
    </div>

  </ion-content>
  <div class="bar bar-footer">
    <label class="item item-input col-80" >
      <textarea placeholder="Ecrivez un message" ng-model="messageToSend"></textarea>
    </label>
    <button class="button button-positive col-20" ng-click="sendMessage()">
      <i class="ion-android-send"></i>
    </button>
  </div>
</ion-view>
