extends layout

block content
    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")

    script.
        var socket = io.connect('http://10.212.123.252:8888');
        socket.on('connect', function(){
            socket.emit('adduser', prompt("What's your name?"));});
        socket.on('updateusernames', function (usernames) {
            for (u in usernames) {
                $('#liste-personnes').append('<b>' + u + '</b><br>');
            }
        });
        socket.on('updateusername', function(username) {
            $('#liste-personnes').append('<b id=' + username + '>' + username + '<br></b>');
        });
        socket.on('removeuser', function(username) {
            var elem = document.getElementById(username);
            elem.parentNode.removeChild(elem);
        });
        socket.on('updatechat', function (username, data) {
            $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
        });$(function(){ $('#datasend').click( function() {
            var message = $('#data').val(); $('#data').val('');
            socket.emit('sendchat', message);});$('#data').keypress(function(e) {
        if(e.which == 13) {$(this).blur();$('#datasend').focus().click();}});});
    h1= title
    div(style="float:left;width:300px;height:250px;overflow:scroll-y;padding:10px;")
    div(id="liste-personnes")
    div(id="conversation")
    input(id="data" style="width:200px;")
    input(type="button" id="datasend" value="send")
