extends layout

block content

    script(src="/socket.io/socket.io.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js")

    script.
        function bottom() {
            document.getElementById( 'bottom' ).scrollIntoView();
            window.setTimeout( function () { top(); }, 2000 );
            $('#data').focus();};

    script.
        var socket = io.connect('http://10.212.123.252:8888');
        socket.on('connect', function(){
            socket.emit('adduser', prompt("What's your name?"));});
        socket.on('updateusernames', function (usernames) {
            for (u in usernames) {
                $('#liste-personnes').append('<b id="' + u + '">' + u + '<br /></b>');
            }
        });
        socket.on('updateusername', function(username) {
            $('#liste-personnes').append('<b id=' + username + '>' + username + '<br /></b>');
        });
        socket.on('removeuser', function(username) {
            var elem = document.getElementById(username);
            elem.parentNode.removeChild(elem);
        });
        socket.on('updatechat', function (username, data) {
            $('#conversation').append('<b>' + username + ':</b> ' + data + '<br>');
            bottom();
        });$(function(){ $('#datasend').click( function() {
            var message = $('#data').val(); $('#data').val('');
            socket.emit('sendchat', message);});$('#data').keypress(function(e) {
        if(e.which == 13) {$(this).blur();$('#datasend').focus().click();}});});
    header(id="top" class="header")
        h1(class="text-center" style="margin-top: 0px;") TzenTzen
        div(style="position: fixed; background-color: white; border: solid 0.5em; border-radius: 0.2em; padding: 1em;")
            h2 Utilisateurs en ligne
            div(id="liste-personnes")
        div(style="display: block; text-align: center; overflow:scroll-y;padding:10px;")
            div(id="conversation" style="padding:1em;")
        div(id="bottom")
    div(class="container")
       div(class="row")
            input(id="data" class="col-sm-10 col-xs-8" style="width:83%;position: fixed; left: 0; bottom: 0;" autofocus)
            input(type="button" onclick="bottom();" class="col-sm-2 btn-success" id="datasend" value="Envoyer" style="border-radius: 1em;height: 2em; position: fixed; right: 0; bottom: 0;")
