//
   Created by Lisa Joanno on 02/02/17.

extends layout

block content
    h1 Enqu&ecirc;tes sur le campus
    p Menez l'enqu&ecirc;tes à Polytech !
    ul
        li Dans "Valider des réponses", vous pouvez voir en temps réel les réponses proposées par les joueurs, et les valider ou les invalider.
        li Dans "Chatter avec les joueurs", vous pouvez chatter en temps réel avec les joueurs.
        li Dans "Voir la liste des équipes", vous pouvez voir les noms, énigmes et scores de toutes les équipes.
        li Dans "Voir la liste des réponses en attentes", vous pouvez voir la liste de toutes les réponses que les joueurs ont envoyées.

