doctype html
html
  head
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/stylish-portfolio.css')
    script(src='http://code.jquery.com/jquery-1.11.3.min.js')
    script(type='text/javascript', src='/js/bootstrap.min.js')
    script(type='text/javascript', src='/socket.io/socket.io.js')

    title= title

    body
      block content
